# General
__pycache__/
node_modules/
*.log
*.env
.DS_Store
.vscode/
.git/
OneDrive/
Thumbs.db

# Python virtual environments
venv/
.venv/
env/
.env/

# Ignore files with invalid perms
*.lnk
*.tmp
*.bak
~*
